{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Before you start
      </h1>
      <p>You agree you will only use this service to get contact details</p>
      <ul class="list list-bullet">
        <li>for a pension you may have</li>
        <li>for a pension someone else may have, and you have their permission to use this service for them</li>
      </ul>

      <a class="button" href="#">I agree - start my search</a>
    </div>

    <div class="column-one-third">
      <h3 class="heading-medium">Get help</h3>
      <p><span class="small">Telephone:</span><br/>
         <span class="heading-small">0345 6002 537<br/>
         +44 (0)191 215 4491</span><br/>
      </p>
      <p><span class="small">Textphone:</span><br/>
        <span class="heading-small">0345 3000 169</span>
      </p>
      <p class="smaller">
        Monday to Friday, 8am to 6pm <br/>
        Find out about call charges
      </p>
      <br/>
      <p>The Pension Service 9 <br/>
          Mail Handling Site A<br/>
          Wolverhampton <br/>
          WV98 1LU
      </p>

    </div>
  </div>
</main>

{% endblock %}
