{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Find pension contact details
      </h1>
      <p>Use this service to find contact details for:</p>
        <ul class="list list-bullet">
          <li>your own workplace or personal pension scheme</li>
          <li>someone else’s scheme if you have their permission</li>
        </ul>

      <p>This service can help you find a lost pension.</p>
      <p>You need the name of an employer or a pension provider to use the service. The service won’t tell you whether you have a pension, or what its value is.</p>
      <a class="button button-start" href="before-you-start">Start</a>


    </div>
  </div>
</main>

{% endblock %}
